<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>{$title|default='咪咕系统'}</title>
<link rel="shortcut icon" href="/assets/img/favicon.ico">
<link rel="stylesheet" href="/assets/libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/migu/css/migu.css">
</head>
<body>
