<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" autocomplete="off">
    
    <div class="form-group hide">
        <label class="control-label col-xs-12 col-sm-2">{:__('Access_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::selectpicker('row[access_id]', $seachlist.access, 7, ['data-rule'=>'required'])}
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('账号备注')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remarks" class="form-control " rows="5" name="row[remarks]" cols="50"></textarea>
        </div>
    </div>
    
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="yui-btn btn btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
<script type="text/javascript">
const $PageApp = () => {
define(['jquery', 'bootstrap', 'backend', 'table', 'form'], function ($, undefined, Backend, Table, Form) {
    
        Form.api.bindevent($("form[role=form]"));
});
}
</script>